<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Titre</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
      consequatur, dignissimos doloremque facilis hic libero non possimus
      reiciendis veritatis voluptatibus!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <div class="container">
      <h2 class="block__heading">Titre</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
        consequatur, dignissimos doloremque facilis hic libero non possimus
        reiciendis veritatis voluptatibus!
      </p>
    </div>
  </header>
</section>
