<section class="block container block-engraving">
  <header class="block__header">
    <h2>Votre gravure</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium
      commodi dolor ex neque nihil numquam omnis sed velit voluptatem.
    </p>
    <div class="input-group">
      <input
        type="text"
        name=""
        id=""
        class="input"
        placeholder="Marteau rond"
      />
      <button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
    <ul class="list block-engraving__prices">
      <li><span class="badge badge--secondary">bronze 5€</span></li>
      <li>argent 7€</li>
      <li>or 10€</li>
      <li>platine 12€</li>
      <li>titane 15€</li>
      <li>diamants 20€</li>
    </ul>
  </header>
</section>
