<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>Facile à prendre en main</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="./images/torbjorn.webp 1x, ./images/torbjorn@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="./images/torbjorn.png 1x, ./images/torbjorn@2x.png 2x"
      />
      <img src="images/torbjorn.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Facile d'utilisation</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusamus dolore ea ipsum necessitatibus nemo omnis perferendis
              repellendus tempora voluptates voluptatum!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Facile d'utilisation</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusamus dolore ea ipsum necessitatibus nemo omnis perferendis
              repellendus tempora voluptates voluptatum!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Facile d'utilisation</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Accusamus dolore ea ipsum necessitatibus nemo omnis perferendis
              repellendus tempora voluptates voluptatum!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
